<!DOCTYPE html>
<html>
<head>
	<title>Channel</title>
	<script src="{{ url_for('static', filename='channel.js') }}"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
</head>
<body>
	<center><h1> You are online, <span></span></h1><br><br></center>
	<center>
	<ul style=list-style-type:none>
		<li style='color:blue'>You have joined the {{ chname }} channel.</li>
	</ul>
	</center>
	<center>
		<br><br>
		<input type="text" placeholder="Write"><br>
		<button>Send</button>
	</center>
</body>
</html>